@model IEnumerable<backend.Models.Entities.Branch>

@{
    ViewData["Title"] = "Branches";
}

<h1>Branches</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Address</th>
            <th>Hotline</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img src="@item.ImageUrl" alt="@item.BranchName" style="width: 100px; height: auto;" />
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.BranchName)</td>
                <td>@Html.DisplayFor(modelItem => item.BranchAddress)</td>
                <td>@Html.DisplayFor(modelItem => item.BranchHotline)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdBranch" class="btn btn-info">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.IdBranch" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.IdBranch" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>